<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品信息</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/vue-2.6.10.js"></script>
    <script src="../plugins/adminLTE/js/axios.min.js"></script>
    <script src="../plugins/adminLTE/js/main.js"></script>
    <script src="../plugins/adminLTE/js/jquery-2.1.0.min.js"></script>

    <script type="text/javascript" src="../plugins/adminLTE/js/element-ui-index.js"></script>
    <script type="text/javascript" src="../plugins/adminLTE/js/browser.min.js"></script>
    <script type="text/javascript" src="../plugins/adminLTE/js/polyfill.min.js"></script>
    <script type="text/javascript" src="../plugins/adminLTE/js/config.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">产品信息</h3>
</div>

<div id="app">
    <div class="box-body">

        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="添加" @click="add()"><i
                                class="fa fa-file-o"></i> 添加产品
                        </button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();">
                            <i
                                    class="fa fa-refresh"></i> 刷新
                        </button>
                        <button type="button" class="btn btn-default" title="导出" @click="loader()"><i
                                class="fa fa-file-o"></i> 导出
                        </button>
                        <input id="articleImageFile" name="excelFile" type="file" class="form-control"
                               style="width: 300px; display: inline;"/>
                        <a class="btn btn-warning" id="import" @click="upExcel()"
                           shiro:hasPermission="system:student:import">
                            <i class="fa fa-upload"></i> 导入</a>
                    </div>
                </div>
            </div>
            <!--工具栏/-->
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <label>
                        产品名称：
                        <input placeholder="产品名称/机构名称" v-model="prdIns">
                    </label>
                    <button class="btn btn-default" @click="getListPage()">查询</button>
                </div>
            </div>
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="text-center" style="padding-right:0">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue"><label
                            for="selall">全选</label>
                    </th>
                    <th class="text-center">编号</th>
                    <th class="text-center">产品名称</th>
                    <th class="text-center">产品代码</th>
                    <th class="text-center">净值</th>
                    <th class="text-center">份额</th>
                    <th class="text-center">金额</th>
                    <th class="text-center">机构名称</th>
                    <th class="text-center">机构代码</th>
                    <th class="text-center">日期</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,i) in items">
                    <td class="text-center"><label>
                        <input type="checkbox">
                    </label></td>
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-center">{{item.prdName}}</td>
                    <td class="text-center">{{item.prdDm}}</td>
                    <td class="text-center">{{item.net}}</td>
                    <td class="text-center">{{item.fbalance}}</td>
                    <td class="text-center">{{item.favalable}}</td>
                    <td class="text-center">{{item.insName}}</td>
                    <td class="text-center">{{item.insDm}}</td>
                    <td class="text-center">{{item.newDate}}</td>
                    <td class="text-center">{{item.createTime}}</td>
                    <td class="text-center">
                        <a @click="update(item.id)" class="btn btn-w-xs btn-round btn-info">修改</a>
                        <a @click="del(item.id)" class="btn btn-w-xs btn-round btn-info">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->
        </div>
        <!-- 数据表格 /-->
        <div class="col-lg-4 text-center">
            <nav>
                <ul class="pagination">
                    <li v-on:click="getListPage(1)">
                        <a href="#" aria-label="Previous"><span aria-hidden="true">首页</span></a>
                    </li>
                    <li v-on:click="getListPage(pageNo-1)">
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li v-on:click="getListPage(p)" :class="{active:p==pageNo}" v-for="(p,index) in pages"><a href="#">{{p}}</a>
                    </li>
                    <li v-on:click="getListPage(pageNo+1)">
                        <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li v-on:click="getListPage(pageCount)">
                        <a href="#" aria-label="Next"><span aria-hidden="true">尾页</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- /.box-body -->
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data: {
            pageNo: 1,//当前页
            pageSize: 10,//当前页条数
            pageCount: 0,
            prdIns: "",
            items: []
        },
        methods: {
            getListPage: function (num) {
                let that = this;
                that.pageNo = num;

                if (that.pageNo <= 0) {
                    alert("已经是第一页");
                    that.pageNo = 1;
                }

                if (that.pageNo > that.pageCount) {
                    alert("已经是最后一页");
                    console.log("=====", that.pageCount);
                    that.pageNo = that.pageCount;
                }

                axios.post("/product/findAllProductPage", {
                    prdIns: that.prdIns,
                    pageNo: that.pageNo,
                    pageSize: that.pageSize
                }).then(function (d) {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html"
                    } else if (d.data.code === 200) {
                        that.items = d.data.data.records;
                        that.pageCount = d.data.data.pages;
                    } else {
                        alert(d.data.message)
                    }
                }).catch(function (error) {
                    console.log("e=", error)
                });
            },
            //导出
            loader() {
                axios.get("/product/exprot", {responseType: 'blob'}, {headers: {'Content-Type': 'application/json'}})
                    .then(function (data) {
                        console.log(data.data)
                        const blob = new Blob([data.data], {
                            type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                        });
                        // 2.获取请求返回的response对象中的blob 设置文件类型，这里以excel为例
                        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                            window.navigator.msSaveOrOpenBlob(blob, '产品_' + timeFormat(new Date(), "yyyyMMddHHmmss") + ".xlsx");
                        } else {
                            let url = window.URL.createObjectURL(blob);
                            // 3.创建一个临时的url指向blob对象
                            let fileName = '产品_' + timeFormat(new Date(), "yyyyMMddHHmmss") + ".xlsx";
                            // 4.创建url之后可以模拟对此文件对象的一系列操作，例如：预览、下载
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = fileName;
                            a.click();
                            // 5.释放这个临时的对象url
                            window.URL.revokeObjectURL(url);
                            this.$message({
                                message: '导出成功',
                                type: 'success'
                            });
                        }
                    });
            },
            //导入
            upExcel() {
                let formData = new FormData();
                let name = $("#articleImageFile").val();
                formData.append("file", $("#articleImageFile")[0].files[0]);
                formData.append("name", name);
                axios.post("/product/upExcel", formData).then(d => {
                        if (d.data.code === 401) {
                            alert(d.data.message)
                            location.href = "../login.html";
                        } else if (d.data.code === 200) {
                            alert("上传成功")
                        } else {
                            d(d.data.message)
                        }
                    }
                )
            },
            //添加
            add() {
                location.href = "product_add.html";
            },
            //修改
            update: function (id) {
                location.href = "product_update.html?id=" + id;
            },
            //删除
            del: function (val) {
                axios.get("/product/delProduct", {
                    params: {
                        id: val
                    }
                }).then(d => {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html";
                    } else if (d.data.code === 200) {
                        location.href = "product.html";
                    } else {
                        d(d.data.message)
                    }
                })
            }
        },
        created() {
            let that = this;
            axios.post("/product/findAllProductPage", {
                prdIns: that.prdIns,
                pageNo: that.pageNo,
                pageSize: that.pageSize
            }).then(function (d) {
                if (d.data.code === 401) {
                    alert(d.data.message)
                    location.href = "../login.html"
                } else if (d.data.code === 200) {
                    that.items = d.data.data.records;
                    that.pageCount = d.data.data.pages;
                } else {
                    alert(d.data.message)
                }
            }).catch(function (error) {
                console.log("e=", error)
            });
        },
        computed: {
            pages: function () {
                let list = [];
                //当前页
                let pn = this.pageNo;
                //总页数
                let pc = this.pageCount;

                if (pc <= 10) {
                    for (let i = 1; i <= pc; i++) {
                        list.push(i);
                    }
                } else {
                    if (pn <= 10) {
                        for (let i = 1; i <= pc; i++) {
                            list.push(i);
                        }
                    } else {
                        for (let i = pn - 9; i <= pn; i++) {
                            list.push(i);
                        }
                    }
                }
                return list;
            }
        }
    })
</script>
