<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>修改权限</title>
    <link rel="stylesheet" type="text/css" href="../css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="../css/pages-register.css"/>

    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/vue-2.6.10.js"></script>
    <script src="../plugins/adminLTE/js/axios.min.js"></script>
    <script src="../plugins/adminLTE/js/getParameter.js"></script>
    <script src="../plugins/adminLTE/js/main.js"></script>
</head>

<body>
<div id="app">
    <div class="register py-container ">
        <!--head-->
        <div class="logoArea">
            <a href="" class="logo"></a>
        </div>
        <!--register-->
        <div class="registerArea">
            <h3>修改权限</h3>
            <button type="button" class="btn btn-default" title="返回" @click="returns()">
                <i class="fa fa-refresh"></i> 返回
            </button>
            <div class="info">
                <form class="sui-form form-horizontal">

                    <div class="control-group">
                        <label class="control-label">角色名称：</label>
                        <div class="controls">
                            <label for="roleName"></label>
                            <input type="text" placeholder="角色名称" class="input-xfat input-xlarge"
                                   v-model="fromdata.roleName" id="roleName" readonly>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">🎭权限名称：</label>
                        <div class="controls">
                            <select class="input-xfat input-xlarge" v-model="fromdata.rmid">
                                <option value="请选择角色权限名称">请选择角色权限名称</option>
                                <option v-for="(m,i) in menus" :value="m.id">{{m.menuName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">权限名称：</label>
                        <div class="controls">
                            <select class="input-xfat input-xlarge" v-model="fromdata.mid">
                                <option value="请选择权限名称">请选择权限名称</option>
                                <option v-for="(m,i) in menu" :value="m.id">{{m.menuName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls btn-reg">
                            <label>
                                <input value="修改" class="sui-btn btn-block btn-xlarge btn-danger" @click="update()"/>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    let id = getParameter("id");
    new Vue({
        el: "#app",
        data: {
            fromdata: {},
            menus: [],
            menu: []
        },
        methods: {
            update() {
                axios.post('/roleSecurity/updateRoleSecurity', this.fromdata).then(d => {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html";
                    } else if (d.data.code === 403) {
                        alert(d.data.message)
                    } else if (d.data.code === 200) {
                        location.href = "role_security.html";
                    } else if (d.data.code === 500) {
                        alert(d.data.message);
                    }
                }).catch(d => {
                    console.log(d)
                })
            },
            returns() {
                location.href = "role_security.html";
            }
        },
        created() {
            axios.get('/roleSecurity/findRoleSecurityByID', {
                params: {
                    id: id
                }
            }).then(d => {
                if (d.data.code === 401) {
                    alert(d.data.message)
                    location.href = "../login.html";
                } else if (d.data.code === 200) {
                    this.fromdata = d.data.data.role;
                    this.menus = d.data.data.menus;
                    this.menu = d.data.data.menu;
                } else {
                    alert(d.data.message)
                }
            })
        }
    })
</script>
