<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" lang="">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户信息</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/adminLTE/js/vue-2.6.10.js"></script>
    <script src="../plugins/adminLTE/js/axios.min.js"></script>
    <script src="../plugins/adminLTE/js/main.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">用户信息</h3>
</div>

<div id="app">
    <div class="box-body">

        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="添加用户" @click="add()"><i
                                class="fa fa-file-o"></i> 添加用户
                        </button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();">
                            <i class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                </div>
            </div>
            <!--工具栏/-->
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <label>
                        用户名：
                        <input placeholder="用户名" v-model="nickName">
                    </label>
                    <button class="btn btn-default" @click="getListPage()">查询</button>
                </div>
            </div>
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="text-center" style="padding-right:0">
                        <input @click="selall()" id="a_All" type="checkbox" class="icheckbox_square-blue"><label
                            for="a_All">全选</label>
                    </th>
                    <!--sorting_asc-->
                    <th class="text-center">编号</th>
                    <th class="text-center">用户名</th>
                    <th class="text-center">用户</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">创建人</th>
                    <th class="text-center">登录次数</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,i) in items">
                    <td class="text-center"><label for="checkOne"></label><input type="checkbox" id="checkOne"></td>
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-center">{{item.nickName}}</td>
                    <td class="text-center">{{item.username}}</td>
                    <td class="text-center">{{item.createTime}}</td>
                    <td class="text-center">{{item.createBy}}</td>
                    <td class="text-center">{{item.number}}</td>
                    <td class="text-center">{{item.status}}</td>
                    <td class="text-center">
                        <a @click="update(item.id)" class="btn btn-w-xs btn-round btn-info">修改</a>
                        <a @click="del(item.id)" class="btn btn-w-xs btn-round btn-info">删除</a>
                        <a @click="send(item.id)" class="btn btn-w-xs btn-round btn-info">发送</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->
        </div>
        <!-- 数据表格 /-->
        <div class="col-lg-4 text-center">
            <nav>
                <ul class="pagination">
                    <li v-on:click="getListPage(pageNo-1)">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-on:click="getListPage(p)" :class="{active:p==pageNo}" v-for="(p,index) in pages"><a href="#">{{p}}</a>
                    </li>
                    <li v-on:click="getListPage(pageNo+1)">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- /.box-body -->
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data: {
            pageNo: 1,//当前页
            pageSize: 5,//当前页条数
            pageCount: 1,
            nickName: "",
            items: []
        },
        methods: {
            selall: function () {
                let allCheck = document.getElementById('a_All');
                let oneChecks = document.querySelector('tbody').querySelectorAll('input');

                //全选点击事件，单选跟随全选
                allCheck.onclick = function () {
                    for (let i = 0; i < oneChecks.length; i++) {
                        oneChecks[i].checked = this.checked;
                    }
                }
            },
            getListPage: function (num) {
                var that = this;
                that.pageNo = num;

                if (that.pageNo <= 0) {
                    alert("已经是第一页");
                    that.pageNo = 1;
                }

                if (that.pageNo > that.pageCount) {
                    alert("已经是最后一页");
                    console.log("=====", that.pageCount);
                    that.pageNo = that.pageCount;
                }

                axios.post("/user/findAllUserPage", {
                    pageNo: that.pageNo,
                    pageSize: that.pageSize,
                    nickName: that.nickName
                }).then(function (d) {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html";
                    } else if (d.data.code === 200) {
                        that.items = d.data.data.records;
                        that.pageCount = d.data.data.pages;
                    } else {
                        alert(d.data.message)
                    }
                }).catch(function (error) {
                    console.log("e=", error)
                });
            },
            add: function () {
                axios.get("/auth/hello").then(d => {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html";
                    } else if (d.data.code === 403) {
                        alert(d.data.message)
                    } else if (d.data.code === 200) {
                        location.href = "user_add.html";
                    } else {
                        alert(d.data.message)
                    }
                })
            },
            update: function (id) {
                axios.get("/auth/hello").then(d => {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html";
                    } else if (d.data.code === 403) {
                        alert(d.data.message)
                    } else if (d.data.code === 200) {
                        location.href = "user_update.html?id=" + id;
                    } else {
                        alert(d.data.message)
                    }
                })
            },
            del: function (val) {
                axios.get("/user/delUser", {
                    params: {
                        id: val
                    }
                }).then(d => {
                    if (d.data.code === 401) {
                        alert(d.data.message)
                        location.href = "../login.html";
                    } else if (d.data.code === 403) {
                        alert(d.data.message)
                    } else if (d.data.code === 200) {
                        location.href = "user.html";
                    } else {
                        alert(d.data.message)
                    }
                })
            },
            send: function (val) {
                axios.get("/send", {
                    params: {
                        id: val,
                        message: "听闻广陵不知寒,大雪龙骑下江南听闻广陵不知寒,大雪龙骑下江南"
                    }
                }).then(res => {
                    // if (res.data.code === 200){
                    //     alert("发送成功")
                    // }else {
                    //     alert("发送失败")
                    // }
                })
            }
        },
        created() {
            var that = this;
            axios.post("/user/findAllUserPage", {
                pageNo: that.pageNo,
                pageSize: that.pageSize
            }).then(function (d) {
                if (d.data.code === 401) {
                    alert(d.data.message)
                    location.href = "../login.html"
                } else if (d.data.code === 200) {
                    that.items = d.data.data.records;
                    that.pageCount = d.data.data.pages;
                } else {
                    alert(d.data.message)
                }
            }).catch(function (error) {
                console.log("e=", error)
            });
        },
        computed: {
            pages: function () {
                let i;
                let list = [];
                //当前页
                let pn = this.pageNo;
                //总页数
                let pc = this.pageCount;

                if (pc <= 3) {
                    for (let i = 1; i <= pc; i++) {
                        list.push(i);
                    }
                } else {
                    if (pn <= 3) {
                        for (i = 1; i <= 3; i++) {
                            list.push(i);
                        }
                    } else {
                        for (let i = pn - 2; i <= pn; i++) {
                            list.push(i);
                        }
                    }
                }
                return list;
            }
        }
    })
</script>
